/* google font */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap');
@import url('assets/css/color-palletes/pallete3.css')

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

header {
    background-color: burlywood;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header a {
    text-decoration: none;
    color: inherit;
}

nav {
    align-self: flex-end;
    position: absolute;
    background-color: burlywood;
    top: 100%;
    width:25%;
}

#menu {
    padding: 0px 10px;
    list-style-type: none;
    text-align: center;
}

#menu li {
    padding-bottom: 5px;
}

main {
    background-color: lightskyblue;
    flex: 1 0 auto;
}

footer {
    background-color: coral;
}