/* google font */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap');
@import url('color-palletes/pallete5.css');
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    /* display: flex;
    flex-direction: column;
    min-height: 100vh; */
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: var(--color5)
}

/* header {
    background-color: var(--color3);
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
} */

/* h1 {
    text-transform: uppercase;
} */

/* nav {
    position: absolute;
    align-self: flex-end;
    background-color: var(--color3);
    top: 100%;
    left: 0;
    width: 100%;
    display: none; 
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

#menu {
    padding: 0 1rem;
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 1px;
}

#menu li {
    padding-bottom: 0.5em;
}

main {
    background-color: var(--color1);
    padding-top: 47px;
    padding-left: 1rem;
    padding-right: 1rem;
    flex: 1 0 auto;
}

footer {
    background-color: var(--color2);
    padding: 0 1rem;
} *